*,body{
    margin: 0;
    padding: 0;
}
html,body{
    min-height:100vh;
}
body{
    background-image: url(../img/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;

    &.loaded {
        .preloader {
        display:none;
       }
        .page-content {
        display: block;
       }
       }
       .page-content {
           display: none;
       }
}
#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}

.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
    #mobile-portrait {
        display: block !important;
    }
}
/* Customization Style of SyoTimer */

.syotimer {
    text-align: center;
    margin: 30px auto 0;
    padding: 0 0 10px;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    width: 79px;
    background: url(../img/timer.png) no-repeat 0 0;
}

.syotimer-cell__value {
    font-size: 35px;
    color: #ffffff;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}

.syotimer-cell__unit {
    font-size: 12px;
    text-transform: uppercase;
}

.right-area-wrapper{
    background-color: #f1f1f2;
    border-radius: 24px;
}

.register-wrapper{
    background-color: #f6f6f6;
    color: #333333;
    margin-top: 25px;
    margin-bottom: 50px;
    h5{
        color:#626262;
    }
}

form{
    label{
        text-transform: uppercase;
        display: block;
        font-size: 0.8em;
        font-weight: 500;
    }
    .input{
        background-color: #e6e7e8;
        border: none;
        width: 100%;
        padding: 5px 10px;
        &:focus{
            outline:0;
        }
    }
    .form-cancel img {
        vertical-align: top;
    }
}